$primary: #181818;
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.5s;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    background-color: white;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: $primary; 
}
@mixin flexbox($direction:row){
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
}
// admin side
.sidebar{
    position: absolutex;
    left: 0;
    background-color: $primary;
    width: min-content;
    min-height: 100vh;
    box-shadow: -20px 20px 50px rgba($color: #000000, $alpha: 0.5);
    @include flexbox(column);
    justify-content: flex-start;
    .logo{
        margin-bottom: 20px;
        padding: 10px;
        a{
            color: white;
        }
    }
    .menu a.activate{
        background-color: #E2A03D
    }
    .menu{
        @include flexbox(column);
        a{
            margin: 10px 5px 10px 25px;
            color: white;
        }
    }
}
.container{
    display: flex;
    width: 100%;
}
.for{
    position: relative;
    background-color: grey;
    padding: 50px;
    width: 100%;
    section .scroll{
        overflow: visible;
        @include flexbox(column);
        a{
            float: left;
            color: white;
            border: 1px solid white;
            padding: 0.5vh 1vh;
            font-size: 12px;
            margin: 30px 3px;
            max-width: 13vh
        }
    }
    .innbox{
        @include flexbox(row);
    }
    .box{
        margin: 2vh auto;
        
    }
}
.file{
    float: left;
    color: white;
    border: 1px solid white;
    padding: 0.5vh 1vh;
    font-size: 20px;
    margin: 30px 0px;
    max-width: 13vh
    
}
input[type="text"], ::placeholder{
    border: none;
    background-color: grey;
    color: white;
    outline: none;
    cursor: pointer;
    
}
input{
    margin: 5px;
    font-size: 20px;
}
input[type="submit"]{
    width: 200px;
    margin-left: 80%;
}
.co{
    @include flexbox();
    padding: 20px;
    max-width: 200vh;
    input{
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin-right: 20%;
    }
    textarea{
        width: 400px;
        height: 150px;
        background-color: grey;
        cursor: pointer;
        border: none;
        outline: none;
        border-bottom: white 2px solid;
        color: white;
        font-size: 20px;
    }
}
.cont{
    @include flexbox(column)
}
.fle{
    @include flexbox();
    max-width: 60vh;
    font-size: 20px;
    color: white;
    .infle{
        @include flexbox(column);
        input{
            font-weight: lighter;
            font-size: 25px;
            width: 48px;
            margin-left: 20px;
            border-bottom: $primary 2px solid;
        }
        span label:nth-child(2){
            color: #E2A03D;
            font-size: 15px;
            position: relative;
            top: 10px;
        }
    }
}
// index html
body{
    overflow-x: hidden;
}
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    a{
        padding: 1vh 2vh;
        margin: 0 10px;
        color: white;
        border-radius: 20px;
    }
    a:hover{
        color: $primary;
        background-color: white;
    }
}
.logo{
    @include flexbox();
    align-items: center;
}
.logo::before{
    content: "";
    background-image: url(../img/logo.png);
    background-size: 50px;
    display: block;
    width: 50px;
    height: 50px;
}
.wrap{
    @include flexbox();
    background-color: $primary;
    padding: 1vh 10vh;
    .lef{
        @include flexbox();
        align-items: center;
    }
}
h1{
    font-size: 80px;
    font-weight: bold;
}
h4{
    font-size: 20px;
}
h6{
    font-size: 13px;
    font-weight: lighter;
}

.bigbox{
    padding: 20vh 0;
    background-color: $primary;
    height: 80vh;
    .txt{
        background-color: white;
        width: fit-content;
        padding: 1vh 2vh;
    }
    h6{
        color: white;
        margin: 30px 0 0 30px;
    }
    .sidetxt{
        max-width: 600px;
    }
}
.fir{
    position: relative;
    .txt{
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        margin-right: 0;
    }
    img.hero{
        width: 115vh;
        position: absolute;
        left: -20vh;
        top: 10vh;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    margin: 5vh 15vh 10vh 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    .sidetxt{
        float: right;
        text-align: right;
        h6{
            color: white;
            margin: 30px 30px 0 0 ;
        }
    }
}
.sec{
    .txt{
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    img.hero{
        max-width: 115vh;
        position: relative;
        right: -40%;
        top: -18vh;
        z-index: 100000;
    }
    margin: 5vh 0 10vh 15vh;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.sli{
    background-color: $primary;
    .whi{
        background-color: white;
        margin: 0 auto;
        padding: 10px;
        width: fit-content;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
.boxevent{
    width: fit-content;
    img{
        width: 88vh;
        height: 52vh;
    }
    .tex{
        background-color: rgba($color: $primary, $alpha: 0.5);
        max-width: 25vh;
        position: relative;
        top: -52.5vh;
        bottom: 0;
        padding: 20.5vh 3vh;
        color: white;
        overflow: hidden;
        transition: 0.3s;
        h6{
            margin-bottom: 10px;
            max-height: 70px;
            overflow: hidden;
        }
        a{
            display: none;
            float: right;
            color: white;
            border: 1px solid white;
            padding: 0.5vh 3vh;
        }
    }
}
.boxevent:hover .tex{
    max-width: 100%;
    a{
        display: inline-block;
    }
    a:hover{
        background-color: white;
        color: $primary;
        border-color: $primary;
    }
}
.layout4{
    display: grid;
    grid-template-areas: 
    "box1 box3"
    "box2 box4";
    grid-template-columns: 90vh 90vh;
    grid-template-rows: 55vh 55vh;
    padding: 50px;
    background-color: $primary;
}
.layout3{
    display: grid;
    grid-template-areas: 
    "box1 box1"
    "box2 box3";
    grid-template-columns: 90vh 90vh;
    grid-template-rows: 82vh 55vh;
    padding: 50px;
    background-color: $primary;
    .boxevent:nth-child(1){
        img{
            width: 178vh;
            height: 80vh;
        }
        .tex{
            padding-top: 25vh;
            top: -81vh;
            height: 81vh;
        }
    }
}
.layout2{
    display: grid;
    grid-template-areas: 
    "box1"
    "box2";
    grid-template-columns: 90vh;
    grid-template-rows: 82vh 82vh;
    padding: 50px;
    background-color: $primary;
    .boxevent{
        img{
            width: 178vh;
            height: 80vh;
        }
        .tex{
            padding-top: 25vh;
            top: -81vh;
            height: 81vh;
        }
    }
}
.layout{
    padding: 50px;
    background-color: $primary;
    height: 100vh;
    overflow: hidden;
    .boxevent{
        img{
            width: 178vh;
            height: 80vh;
        }
        .tex{
            padding-top: 25vh;
            top: -81vh;
            height: 81vh;
        }
    }
}
main{
    .boxevent:nth-child(1){
        grid-area: box1;
    }
    .boxevent:nth-child(2){
        grid-area: box2;
    }
    .boxevent:nth-child(3){
        grid-area: box3;
    }
    .boxevent:nth-child(4){
        grid-area: box4;
    }
}
.scroll{
    padding: 40px;
    max-width: 100%;
    overflow: auto;
    display: flex;
    background-color: $primary;
}
.box{
    background-color: #424242;
    color: white;
    width: fit-content;
    display: flex;
    border-radius: 10px;
    margin-left: 10vh;
    .lifo{
        padding: 20px;
        width: 25vh;
        height: 30vh;
        h6{
            max-height: 38px;
            overflow: hidden;
        }
        a{
            float: left;
            color: white;
            border: 1px solid white;
            padding: 0.5vh 1vh;
            font-size: 12px;
            margin-top: 30px;
        }
        a:hover{
            background-color: white;
            color: $primary;
        }
    }
    .libo{
        width: 38vh;
        background-color: grey;
        border-radius: 10px;
        img{
            width: 400px;
            position: relative;
            top: -4vh;
            left: -11vh;
        }
    }
}
.wrf{
    background-color: $primary;
    padding: 20px 50px;
    color: white;
    a{
        color: white;
        font-weight: lighter;
    }
    .linet{
        text-align: center;
        margin-bottom: 30px;
    }
    .linet:nth-child(3){
        border-bottom: white solid 1px;
        padding-bottom: 30px;
    }
    .linet a{
        margin: 0 30px;
        padding: 20px;
    }
    .logo{
        justify-content: flex-start;
    }
}