* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 0.5s;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: white;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #181818;
}

.sidebar {
  position: absolutex;
  left: 0;
  background-color: #181818;
  width: min-content;
  min-height: 100vh;
  box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-start;
}
.sidebar .logo {
  margin-bottom: 20px;
}
.sidebar .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar .menu a {
  margin: 10px 5px 10px 25px;
}

.container {
  display: flex;
  width: 100%;
}

.for {
  position: relative;
  background-color: grey;
  padding: 50px;
  width: 100%;
}

input[type=text], ::placeholder {
  border: none;
  background-color: grey;
  color: white;
  outline: none;
  cursor: pointer;
}

input {
  margin: 5px;
  font-size: 20px;
}

input[type=submit] {
  width: 200px;
  margin-left: 80%;
}

.co {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  max-width: 200vh;
}
.co input {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
}
.co textarea {
  width: 400px;
  height: 150px;
  background-color: grey;
  cursor: pointer;
  border: none;
  outline: none;
  border-bottom: white 2px solid;
  color: white;
  font-size: 20px;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 60vh;
  font-size: 20px;
  color: white;
}
.fle .infle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fle .infle input {
  font-weight: lighter;
  font-size: 25px;
  width: 48px;
  margin-left: 20px;
  border-bottom: #181818 2px solid;
}
.fle .infle span label:nth-child(2) {
  color: #E2A03D;
  font-size: 15px;
  position: relative;
  top: 10px;
}

body {
  overflow-x: hidden;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
}
nav a {
  padding: 1vh 2vh;
  margin: 0 10px;
  color: white;
  border-radius: 20px;
}
nav a:hover {
  color: #181818;
  background-color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo::before {
  content: "";
  background-image: url(../img/logo.png);
  background-size: 50px;
  display: block;
  width: 50px;
  height: 50px;
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #181818;
  padding: 1vh 10vh;
}
.wrap .lef {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 80px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
}

h6 {
  font-size: 13px;
  font-weight: lighter;
}

.bigbox {
  padding: 20vh 0;
  background-color: #181818;
  height: 80vh;
}
.bigbox .txt {
  background-color: white;
  width: fit-content;
  padding: 1vh 2vh;
}
.bigbox h6 {
  color: white;
  margin: 30px 0 0 30px;
}
.bigbox .sidetxt {
  max-width: 600px;
}

.fir {
  position: relative;
  margin: 5vh 15vh 10vh 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.fir .txt {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  margin-right: 0;
}
.fir img.hero {
  width: 115vh;
  position: absolute;
  left: -20vh;
  top: 10vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.fir .sidetxt {
  float: right;
  text-align: right;
}
.fir .sidetxt h6 {
  color: white;
  margin: 30px 30px 0 0;
}

.sec {
  margin: 5vh 0 10vh 15vh;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.sec .txt {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.sec img.hero {
  max-width: 115vh;
  position: relative;
  right: -40%;
  top: -18vh;
  z-index: 100000;
}

.sli {
  background-color: #181818;
}
.sli .whi {
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  width: fit-content;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.boxevent {
  width: fit-content;
}
.boxevent img {
  width: 88vh;
  height: 52vh;
}
.boxevent .tex {
  background-color: rgba(24, 24, 24, 0.5);
  max-width: 25vh;
  position: relative;
  top: -52.5vh;
  bottom: 0;
  padding: 20.5vh 3vh;
  color: white;
  overflow: hidden;
  transition: 0.3s;
}
.boxevent .tex h6 {
  margin-bottom: 10px;
  max-height: 70px;
  overflow: hidden;
}
.boxevent .tex a {
  display: none;
  float: right;
  color: white;
  border: 1px solid white;
  padding: 0.5vh 3vh;
}

.boxevent:hover .tex {
  max-width: 100%;
}
.boxevent:hover .tex a {
  display: inline-block;
}
.boxevent:hover .tex a:hover {
  background-color: white;
  color: #181818;
  border-color: #181818;
}

.layout4 {
  display: grid;
  grid-template-areas: "box1 box3" "box2 box4";
  grid-template-columns: 90vh 90vh;
  grid-template-rows: 55vh 55vh;
  padding: 50px;
  background-color: #181818;
}

.layout3 {
  display: grid;
  grid-template-areas: "box1 box1" "box2 box3";
  grid-template-columns: 90vh 90vh;
  grid-template-rows: 82vh 55vh;
  padding: 50px;
  background-color: #181818;
}
.layout3 .boxevent:nth-child(1) img {
  width: 178vh;
  height: 80vh;
}
.layout3 .boxevent:nth-child(1) .tex {
  padding-top: 25vh;
  top: -81vh;
  height: 81vh;
}

.layout2 {
  display: grid;
  grid-template-areas: "box1" "box2";
  grid-template-columns: 90vh;
  grid-template-rows: 82vh 82vh;
  padding: 50px;
  background-color: #181818;
}
.layout2 .boxevent img {
  width: 178vh;
  height: 80vh;
}
.layout2 .boxevent .tex {
  padding-top: 25vh;
  top: -81vh;
  height: 81vh;
}

.layout {
  padding: 50px;
  background-color: #181818;
  height: 100vh;
  overflow: hidden;
}
.layout .boxevent img {
  width: 178vh;
  height: 80vh;
}
.layout .boxevent .tex {
  padding-top: 25vh;
  top: -81vh;
  height: 81vh;
}

main .boxevent:nth-child(1) {
  grid-area: box1;
}
main .boxevent:nth-child(2) {
  grid-area: box2;
}
main .boxevent:nth-child(3) {
  grid-area: box3;
}
main .boxevent:nth-child(4) {
  grid-area: box4;
}

.scroll {
  padding: 40px;
  max-width: 100%;
  overflow: auto;
  display: flex;
  background-color: #181818;
}

.box {
  background-color: #424242;
  color: white;
  width: fit-content;
  display: flex;
  border-radius: 10px;
  margin-left: 10vh;
}
.box .lifo {
  padding: 20px;
  width: 25vh;
  height: 30vh;
}
.box .lifo h6 {
  max-height: 38px;
  overflow: hidden;
}
.box .lifo a {
  float: left;
  color: white;
  border: 1px solid white;
  padding: 0.5vh 1vh;
  font-size: 12px;
  margin-top: 30px;
}
.box .lifo a:hover {
  background-color: white;
  color: #181818;
}
.box .libo {
  width: 38vh;
  background-color: grey;
  border-radius: 10px;
}
.box .libo img {
  width: 400px;
  position: relative;
  top: -4vh;
  left: -11vh;
}

.wrf {
  background-color: #181818;
  padding: 20px 50px;
  color: white;
}
.wrf a {
  color: white;
  font-weight: lighter;
}
.wrf .linet {
  text-align: center;
  margin-bottom: 30px;
}
.wrf .linet:nth-child(3) {
  border-bottom: white solid 1px;
  padding-bottom: 30px;
}
.wrf .linet a {
  margin: 0 30px;
  padding: 20px;
}
.wrf .logo {
  justify-content: flex-start;
}/*# sourceMappingURL=style.css.map */